PORT=3000
MONGODB_URI=mongodb://localhost:27017/digital-printing
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=86400
JWT_EXPIRES_IN_ADMIN=86400
JWT_EXPIRES_IN_CUSTOMER=86400
BCRYPT_ROUNDS=10
UPLOAD_MAX_SIZE=52428800
CORS_ORIGIN=http://localhost:5173,http://localhost:5174
WHATSAPP_ENABLED=false
WHATSAPP_ADMIN_NUMBER=6281234567890

OWNER_USERNAME=owner
OWNER_EMAIL=owner@printflow.local
OWNER_PASSWORD=owner123
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@printflow.local
ADMIN_PASSWORD=admin123
